<div data-controller="facts" data-type="words">
  <input type="text" data-facts-target="input">
  <button  data-action="facts#search">Search</button>
</div>

<button
  data-controller="facts"
  data-action="facts#search"
  data-type="random">
    Random
</button>

<ul data-controller="categories" data-categories-target="results"></ul>

<ul id="results">
  <div id="pages"></div>
  <div id="pagination"></div>
</ul>

<div id="email-field" class="hidden">
  <input type="text" placeholder="email">
  <button>Send</button>
</div>