<ul data-controller="categories" data-categories-target="results"></ul>

<ul id="results">
  <div id="pages"></div>
  <div id="pagination"></div>
</ul>

<div id="email-field" class="hidden">
  <input type="text" placeholder="email">
  <button>Send</button>
</div>